[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=gzj
WorkingDirectory=/home/gzj/sites/SITENAME/source
ExecStart=/home/gzj/sites/SITENAME/virtualenv/bin/gunicorn \ --bind unix:/temp/SITENAME.socket \ superlists.wsgi:application

[Install]
WantedBy=multi-user.target